#button{
    font-size: 15px;
    padding: 15px 40px 15px 40px;
    margin-left: 20px;
    background-color: rgba(10, 14, 240, 0.851);
    color: white;
    border: solid black;
}
table td input{
    border:10px solid rgb(99, 219, 191);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    width: 80%;
    margin-left:20px ;
    border: solid blueviolet
}
table{
    width: 90%;
    margin-top: 100px;
}

tr th{
    background-color: rgb(99, 219, 191);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    width: 30%;
}
#remove{
    border: solid black;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    background-color: rgb(255, 0, 0);
    margin-left:20px ;

}